.loading {
  align-self: center;
}

.props-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#props-checkbox {
  accent-color: var(--button-color);
  width: 22px;
  height: 22px;
  margin: 0;
}
